body {
  margin: 0;
  background-color: #0B0B45;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: white;
  text-align: center;
}

#navbar {
    width: 100%;
    background-color: white;
    padding: 10px 0;
    top:0;
    left: 0;
    z-index: 1000;

}

#typewriter {
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-weight: 400;
}