body {
  margin: 0;
  background-color: #0B0B45;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: white;
}

#navbar {
    width: 100%;
    background-color: white;
    padding: 10px 0;
    top:0;
    left: 0;
    z-index: 1000;

}